
/* Body */
@import url('https://fonts.cdnfonts.com/css/ice-hockey');
body {
  width: 80%;
  margin: auto;

  font-family: 'Ice Hockey', sans-serif !important;
  color: white !important;
  background-image: url("https://i.ibb.co/HFSSGnN/test.png");
}

/* Header */
.nhl-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlinks ul {
  display: flex;
  list-style: none;
}
.navlinks ul li {
  padding: 0 20px;
  text-decoration: none;
}
.navlinks ul li a {
  text-decoration: none;
  color: white !important;
}

/* Loading */
.outer-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Not Found */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}


/* Player Table */
.outer-player-table {
  margin: 1% auto;
  height: auto;
  min-height: 80%;
  max-height: 100%;
  width: auto;
  max-width: 900px;
}
.inner-player-table {
  background-color: #191919;
  color: white !important;
}


/* Outside Player Stats Table */
.outer-outside-player-stats-table {
  margin: 1% auto;
  height: auto;
  min-height: 80%;
  max-height: 100%;
  width: auto;
  max-width: 900px;
}
.inner-outside-player-stats-table {
  background-color: #191919;
  color: white !important;
}
/* Goalie Player Stats Table */
.outer-goalie-player-stats-table {
  margin: 1% auto;
  height: auto;
  min-height: 80%;
  max-height: 100%;
  width: auto;
  max-width: 800px;
}
.inner-goalie-player-stats-table {
  background-color: #191919;
  color: white !important;
}


/* PlayerCard */
.outer-player-card {
  width: 30%;
  max-width: 300px;
  margin: 2% 2% 1% 2%;
}
.inner-player-card {
  background-color: #191919 !important;
}
.inner-player-card * { /* Include all child components */
  justify-content: center !important;
  text-align: center;
  color: white !important;
}
.player-card-button {
  margin-top: 0px;
}
.player-card-button-text{
  color: white !important;
  background-color: black !important;
}
.player-card-nhl-profile {
  padding: 0% !important;
  margin: 0 0 4% 0;
}
/* PlayerCard Player */
.outer-player > .inner-player-player-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PlayerCard Search */
.outer-search-player-card > .inner-player-player-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PlayerCard Roster */
.outer-player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* MUI Search */
.outer-player-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.inner-player-search {
  width: 20%;
  min-width: 400px;
  background-color: white;
  font-family: 'Ice Hockey', sans-serif !important;
}
.inner-player-search-text input,
.inner-player-search-text label {
  color: black;
}